
body{
	font-family: 'Della Respira', serif;
	width:100%;
	height:auto;
	background-image: url(./../img/overcast.jpg);
	background-repeat:no-repeat;
	background-position: 0 0 0 px;
	-webkit-background-size:cover;
	background-attachment: fixed; 
}

/*
.container {
	background: url('../assets/img/asanoha-400px.png');
	background-repeat: repeat;
	background-position: center center;
	min-width: 100%;
	color: white;
	width: auto;
	width: 1148px;
}*/

.box {
	border-color: #000000;
	border-style: solid;
	border-width: 4px;
	margin-left: 7px;
	margin-right: 5px;
	background-color: rgba(108,179,179,0.8);
	color: #000000;
	font-size: 18px;
	border-radius: 10px;
}

.samewidth {
	width: 49%;
	padding: 16px;
}

.T {
	padding: 6px;
	margin: 13px;
}

h1 {
	font-family: 'Della Respira', serif;
	font-size: 93px;
	color: white;
	text-shadow: 0 0 6px #000000;
}

.pogpics {
	margin-top: 20px;
	margin-bottom: 20px;
}

.reset {
	margin-top: 10px;
	background-color: gray;
	color: white;
	border-style: solid;
	border-color: darkgray;
	margin-bottom: 30px;
	border-radius: 25px;
}

.nudge {
	margin-left: 12px;
}

.a {
	float: left;
	top: 22px;
	padding-left: 23px;
	padding-right: 23px;
}

.b {
	float: right;
}

.main-bar-btn{
    text-align: right;
    display: block;
}
.main-bar{
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 40px auto 40px auto;
    border-bottom: solid 2px #ffffff;
}



/*
===========================================================

body{
	font-family: 'Della Respira', serif;
	width:100%;
	height:auto;
	background-image: url(./../img/overcast.jpg);
	background-repeat:no-repeat;
	background-position: 0 0 0 px;
	-webkit-background-size:cover;
	background-attachment: fixed; 
}


.container {
	background: url('../assets/img/asanoha-400px.png');
	background-repeat: repeat;
	background-position: center center;
	min-width: 100%;
	color: white;
	width: auto;
	width: 1148px;
}

.box {
	border-color: white;
	border-style: solid;
	border-width: 4px;
	margin-left: 7px;
	margin-right: 5px;
	background-color: teal;
	font-size: 18px;
	border-radius: 10px;
}

.samewidth {
	width: 49%;
	padding: 16px;
}

.T {
	padding: 6px;
	margin: 13px;
}

h1 {
	font-family: 'impact', serif;
	font-size: 93px;
	color: lightcoral;
	text-shadow: 0 0 6px teal;
}

.pogpics {
	margin-top: 20px;
	margin-bottom: 20px;
}

.reset {
	margin-top: 10px;
	background-color: gray;
	color: white;
	border-style: solid;
	border-color: darkgray;
	margin-bottom: 30px;
	border-radius: 25px;
}

.nudge {
	margin-left: 12px;
}

.a {
	float: left;
	top: 22px;
	padding-left: 23px;
	padding-right: 23px;
}

.b {
	float: right;
}*/