.color-btn {
    height: 100px;
    width: 100px;
}

.red-s-btn {
    background-color: red;
}

.yellow-s-btn {
    background-color: gold;
}

.green-s-btn {
    background-color: green;
}

.blue-s-btn {
    background-color: blue;
}

.red-btn {
    background-color: red;
}

.yellow-btn {
    background-color: gold;
}

.green-btn {
    background-color: green;
}

.blue-btn {
    background-color: blue;
}

.main-bar-btn{
    text-align: right;
    display: block;
}

.dimmed {
    opacity: .5;
}